@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    height: 7000px;
}
/*---------- header section--------- */
.header{
width: 1200px;
height: 520px;
margin: auto;
background: #161616;
margin-top: 50px;
border-radius: 20px;
position: relative;
}

.cover-area{
    display: flex;
}

.description-content > h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    color: #ffffff;
}

.description-content {
    position: absolute;
    margin-top: 72px;
    margin-left: 70px;
}

button.watch-now {
    width: 150px;
    height: 45px;
    border: none;
    background: red;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: -15px;
    margin-left: 50px;
    transition: 0.5s;
}

button.watch-now:hover
{
    background-color: aqua;
    color: #161616;
}

.description-content > p {
    color: white;
    margin-top: 30px;
    line-height: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.bg-img > img{
    width: 450px;
    margin-left: 680px;
    margin-top: 46px;
}
/* header section end */


/*Blog area starts here */

.blogs{
    width: 712px;
    margin-left: 370px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.blog 
{
width: 280px;
height: 370px;
border-radius: 10px;
 box-shadow: rgba(50,50,93,0.25)0px 2px 5px -1px ,rgba(0,0,0,0.3)0px 1px 3px -1px;
 overflow: hidden;
}
blog-img > img{
    width: 350px;
    height: 350px;

}
.blog-details{
    margin-left: 20px;
}
button.transfer{
    width: 100px;
    height: 32px;
    font-size:16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 24px;
}
h2.blog-title{
    font-size: 18px;
    line-height:27px;
    font-weight: 600;
    margin-top: 15px;

}
.blogs-icon{
    display: flex;
    margin-top: 20px;
}
.time{
    margin-right: 40px;
}
.view-all{
    display: none;

}
.match-list{
    position: absolute;
    top:150%;
    left:105px;
    border-radius: 10px;
    width:200px ;
    background-color: #161616;
    margin-right: 300px;
    padding-right: 50px;
    height: 300px;
}
.a-color-1{
    text-decoration: none;
    color: white;
}
.a-color-2{
    text-decoration: none;
    color: red;
}
h5.upcoming-match-text{
    color: #ffffff;
    width: 129px;
    height: 44px;
    background: red;
    text-align: center;
    margin-top: 60px;
    margin-left: 30px;
    padding-top: 10px;
    border-radius: 10px;
}
h5.all-group-text{
    color:red ;
    background-color: #ffffff;
    width:129px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top:10px ;
    height:44px ;
}
h5.blog-text{
    color:red ;
    background-color: #ffffff;
    width:129px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top:10px ;
    height:44px 
}

/* Blog area ends here  */

/* Footer area starts here */
footer.footer-area{
    background: #161616;
    margin-top: 130px;

}
h1.goal{
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 70px;
}
hr{
    border: 1px solid rgba(255,255,255,0.1);
}
.footer-nav{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-nav >li{
    list-style: none;
}


.footer-nav >li>a{
    text-decoration: none;
    margin-left: 63px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #B9B9B9;
}
/* Footer area end here */

/* social link area starts here */
.social-link{
    display: flex;
    justify-content: center;
    gap: 40px;
}
social-link >p>i{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
#instagram {
    color: #B4289E;
}
#facebook{
    color: #1873EB;
}
#twitter{
    color: #1C9CEA;
}
/* social link area end here */
/* matches area starts here */
.matches{
    width: 712px;
    margin-left: 370px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px
}
.match{
    width: 280px;
height: 370px;
border-radius: 10px;
 box-shadow: rgba(50,50,93,0.25)0px 2px 5px -1px ,rgba(0,0,0,0.3)0px 1px 3px -1px;
 overflow: hidden;
}
.match-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
h2.match-title{
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
.match-icon{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
match-details{
    margin-top: 20px;
}
/* matches are end here */
/* upcoming match area */
h5.upcoming-match-text-two{
    color: #ffffff;
    width: 129px;
    height: 44px;
    background: red;
    text-align: center;
    margin-top: 60px;
    margin-left: 30px;
    padding-top: 10px;
    border-radius: 10px;
}
h5.all-group-text-two{
    color:red ;
    background-color: #ffffff;
    width:129px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top:10px ;
    height:44px ;
}
h5.blog-text-two{
    color:red ;
    background-color: #ffffff;
    width:129px;
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top:10px ;
    height:44px 
}
.a-color-1-two{
    text-decoration: none;
    color: #ffffff;
}
.a-color-2-two{
    text-decoration: none;
    color: #161616;
}
.view-all{
    display:none;
}
/* Footer area starts here */
footer.footer-area{
    background: #161616;
    margin-top: 130px;

}
h1.goal{
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 70px;
}
hr{
    border: 1px solid rgba(255,255,255,0.1);
}
.footer-nav{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-nav >li{
    list-style: none;
}


.footer-nav >li>a{
    text-decoration: none;
    margin-left: 63px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #B9B9B9;
}
/* Footer area end here */

/* social link area starts here */
.social-link{
    display: flex;
    justify-content: center;
    gap: 40px;
}
social-link >p>i{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
#instagram {
    color: #B4289E;
}
#facebook{
    color: #1873EB;
}
#twitter{
    color: #1C9CEA;
}
/* social link area end here */

@media only screen and (max-width: 668px) {

    body
    {
        height: 100vh;
    }

    .cover-area
    {
        width: 1350px;
        height: 1600px;
        margin-left: 122px;
        margin-top: 115px;
        overflow: hidden;
    }

    h1.cover-title-only-use-mobile
    {
        display: block;
        font-size: 85px;
        color: white;
        text-align: center;
        margin-top: 170px;
    }

    .cover-p-text-two
    {
    margin-top: 35px;
    display: block;
    font-size: 40px;
    color: white;
    line-height: 100px;
    font-weight: 400;
    text-align: center;
    }

    .cover-img > img
    {
        width: 50%;
        margin-left: 365px;
        margin-top: 43px;
    }

    .text-img-cover
    {
        flex-direction: column;
    }

    button.watch-now {
        width: 150px;
        height: 45px;
        border: none;
        background: red;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        margin-top: -15px;
        margin-left: 50px;
        transition: 0.5s;
    }
    
    button.watch-now:hover
    {
        background-color: aqua;
        color: #161616;
    }

    .match-list
    {
    position: absolute;
    background: none;
    margin-left: 405px;
    margin-top: -1070px;
    }

    h5.upcaming-match-text
    {
    width: 750px;
    height: 170px;
    border: 2px solid black;
    padding-top: 65px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 15px;
    }
    h5.all-group-text
    {
    position: absolute;
    width: 750px;
    height: 170px;
    border: 2px solid black;
    padding-top: 67px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 490px;
    }
    h5.blog-text
    {
    position: absolute;
    margin-top: 965px;
    width: 750px;
    height: 170px;
    padding-top: 67px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    }

    .groups,
    .matches,
    .blogs
    {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1000px;
    }

    .blog
    {
        width: 1374px;
        height: 1370px;
        margin-left: -487px;
        border-radius: 30px;
        margin-top: 35px;
    }

    .match
    {
    width: 1374px;
    height: 770px;
    margin-left: -487px;
    padding-top: 45px;
    border-radius: 30px;
    margin-top: 35px;
    border: 1px solid gray;
    }

    .group
    {
    width: 1290px;
    height: 1650px;
    margin-left: -487px;
    padding-top: 45px;
    border-radius: 30px;
    margin-top: 35px;
    border: 1px solid gray;
    }

    .main-group-title
    {
    font-size: 100px;
    padding-left: 70px;
    }

    h2.group-title
    {
    font-size: 70px;
    }

    .first-group
    {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    }

    .group-img > img
    {
        width: 430px;
    }

    .hidden
    {
    display: none;
    }

    #chev-control
    {
    display: none;
    }

    .social-link
    {
    display: none;
    }

    h1.cover-title
    {
    display: none;
    }

    .cover-p-text
    {
    display: none;
    }

    .blog-img > img
    {
    width: 1374px;
    height: 750px;
    }

    .match-img > img 
    {
    width: 450px;
    height: 250px;
    }

    .match-img > h2
    {
    font-size: 80px;
    }

    button.transfer
    {
    width: 360px;
    height: 100px;
    font-size: 50px;
    border: 2px solid black;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 70px;
    }


    h2.blog-title 
    {
    font-size: 70px;
    line-height: 100px;
    margin-top: 50px;
    }

    h2.match-title
    {
    font-size: 90px;
    line-height: 100px;
    margin-top: 100px;
    }

    .match-icon
    {
    margin-top: 60px;
    font-size: 54px;
    }

    h5.upcaming-match-text-two
    {
    width: 750px;
    height: 170px;
    padding-top: 65px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 15px;
    }
    h5.all-group-text-two
    {
    position: absolute;
    width: 750px;
    height: 170px;
    border: 2px solid black;
    padding-top: 67px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 490px;
    }
    h5.blog-text-two
    {
    position: absolute;
    margin-top: 965px;
    border: 2px solid black;
    width: 750px;
    height: 170px;
    padding-top: 67px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    }

    .blogs-icon
    {
    margin-top: 30px;
    }

    .time,
    .comment
    {
    font-size: 60px;
    }

    .time {
    margin-right: 100px;
    }

    .footer-area
    {
    width: 1595px;
    }

    .footer-nav
    {
    flex-direction: column;
    align-items: center;
    background: #161616;
    margin-bottom: 30px;
    }

    .footer-nav > li
    {
    margin-top: 100px;
    margin-bottom: 20px;
    }

    .footer-nav > li > a
    {
    font-size: 50px;
    }

    h1.goal
    {
    font-size: 100px;
    }

    h5.upcaming-match-text-three
    {
    width: 750px;
    height: 170px;
    border: 2px solid black;
    padding-top: 65px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 15px;
    }
    h5.all-group-text-three
    {
    position: absolute;
    width: 750px;
    height: 170px;
    padding-top: 67px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 490px;
    }
    h5.blog-text-three
    {
    position: absolute;
    margin-top: 965px;
    width: 750px;
    height: 170px;
    padding-top: 67px;
    font-size: 60px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    }

    }